//Comment
@import "variables";
@import "mixins";
* {
    padding: 0;
    margin: 0;
}

.block:not(.first) {
    background: $bgColor;
    width: $blockWidth;
    height: 200px;
    border: $border;
    margin-bottom: 20px;
}

.first {
    background: $bgColor;
    height: 100px;
    width: $blockWidth;
    border: $border;
    margin-bottom: 20px;
}

#central_block {
    padding: 30px;
    ul {
        list-style: none;
        display: inline-block;
    }
    li {
        float: left;
        width: 100%;
        // margin-right: 10px;
        a {
            @include font(blue, bold);
            //color: blue;
            &:hover {
                color: red;
            }
        }
        //:link выбирает ещё не посещённые ссылки.
        //:visited выбирает посещённые ссылки.
        //:active выбирает активные ссылки (кнопка мыши зажата на ссылке).
        //a:hover{
        //color: red;
        //}
    }
}

a {
    @include link(#000, red, blue, green);
    // color: #000;
}

//#central_block ul {
//   list-style: none;
//}